@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #555;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  text-align: center;
  margin: 0 auto;
}

.TodoWrapper {
  padding-bottom: 100px;
  background: #f5f5f5;
  border-radius: 5px;
  width: 100%;
  align-items: center;
  margin: 50px;
}
.pointer{
  cursor: pointer;
}


.TodoForm {
  width: 100%;
  margin-bottom: 0,1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #999;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #555;
  border-radius: 5px;
}

.sub-todo {
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
}

.sub-todo-input {
  outline: none;
  background: none;
  border: 1px solid #999;;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 160px;
  color: #555;
  border-radius: 5px;
  
}

.moveTodo {
  transform: translate(50px,10px);
  /* animation: moveSlider0 1s forwards; */
}

.todo-input::placeholder {
  color: #555;
}

.todo-btn {
  background: green;
  border: 1px solid #999;
  color: white;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 2px;
}

.keep-btn {
  background: green;
  border: 1px solid #999;
  color: white;
  border: none;
  padding: 0.30rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 2px;
}

.delete-btn {
  background: red;
  border: 1px solid #999;
  color: white;
  border: none;
  padding: 0.30rem;
  cursor: pointer;
  border-radius: 5px;
  margin: 2px;
}

.Todo {
  display: flex;
  align-items: center;
  background: white;
  color: #555;
  font-weight: 500;
  padding: 0.30rem 1rem;
  font-size: medium;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 3px 9px #ccc;
}

.sidebar {
  box-shadow: 0 0 9px #ccc;
}

.todo-display{
  margin: 1px 16px;
  display: block;
  align-items: center;
  width: -webkit-fill-available;
}

.fa-trash {
  margin-left: 0.75rem;
}

.fa-star {
  margin-left: 0.75rem;
}

.icons-display{
  margin: 10px;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #bbb;
  text-decoration: line-through;
  cursor: pointer;
}
.circle-icon {
  border-right: 2px solid #eee;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  padding-right: 10px;
}
.circle-display {
  display: flex;
}

.fa-trash{
  margin-left: 0.99rem;
}
.fa-square-plus{
  margin-left: 0.88rem;
  height: 25px;
  margin-bottom: 10px;
}


/* Styles for the filter dropdown */
.filter-dropdown {
  outline: none;
  background: none;
  border: 1px solid #999;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #555;
  border-radius: 5px;
}

.filter-dropdown:hover {
  background-color: #eee;
}

.form-and-filter {
  display: flex;
  align-items: center;
}

.delete-modal {
  display: flex;
  align-content: center;
  letter-spacing: normal;
}

.todo-form {
  display: flex;
  margin-left: 550px;
}

.img {
  margin-left: 590px;
}

.no-todo{
  min-width: 100%;
}

/* Media query for screens up to 600px width (small screens) */
@media only screen and (max-width: 600px) {
  /* Adjust font size for better readability on small screens */
  body {
    font-size: 14px;
  }

  .img {
    margin-left: 50px
  }

  /* Increase padding and reduce margin for smaller screens */
  .TodoWrapper {
    padding: 1rem;
    margin-top: 3rem;
  }

  /* Adjust width and margin for the input field */
  .todo-input {
    width: 70%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  /* Adjust button styles for smaller screens */
  .todo-btn {
    width: 15%;
    padding: 0.5rem;
  }

  /* Reduce padding and margin for Todo items */
  .Todo {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }

  /* Increase margin for icons on small screens */
  .fa-trash {
    margin-left: 0.25rem;
  }

  /* Adjust margin for completed and incompleted text */
  .incompleted,
  .completed {
    margin-top: 0.25rem;
  }

  /* Adjust margin for filter dropdown */
  .filter-dropdown {
    width: 32
    0px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .form-and-filter {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .h2 {
    font-size: larger;
  }
}

@media only screen and (max-width: 800px) {

  .img {
    margin-left: 200px
  }

  .todo-form {
    display: flex;
    margin-left: 150px;
  }

}

@media only screen and (max-width: 500px) {

  h1{
    padding-left: 10px;
  }

  .img{
    margin-left: 10px;
  }
  
  .todo-form {
    display: flex;
    margin-left: 5px;
  }

}

.modal {
  border-radius: 1rem;
  min-width: 20rem;
}

.h3 {
  color: red;
}
